# python 
*.py[cod]

# MacOS
.DS_Store

# Virtual environments
.venv

# UV file
*.toml
*.lock
.python-version
.egg-info

debug.py
main.py
state_tomo_miti/rotation_test.py

build/
data/
QPT/
state_tomo_miti/